<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Введите новое имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Введите новую фамилию: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <label for="age">Введите новый возраст: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="email">Введите новую почту: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <input type="submit" value="Обновить пользователя">
</form>

</body>
</html>